.top-row {
  min-height: 58px;
}
.top-header {
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 10px;
  max-width: 300px;
  z-index: 11;
  &.sticky {
    position: fixed;
    top: 7px;
  
  }
  
}