<div class="custom-header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
    <form class="form-inline mr-auto">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <a class="btn btn-outline-primary btn-search" type="submit">Search</a>
    </form>
    <nav class="my-2 my-md-0 mr-md-3">
      <a routerLink="/home" routerLinkActive="selected" class="p-2 text-dark">Home</a>
      <a routerLink="/course" routerLinkActive="selected" class="p-2 text-dark">Course</a>
      <a class="p-2 text-dark" href="#">Support</a>
      <a class="p-2 text-dark">Pricing</a>
    </nav>
    <app-login></app-login>
  </div>